--
-- Table structure for table `STIPULATION`
--

DROP TABLE IF EXISTS `STIPULATION`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `STIPULATION` (
  `STIPULATION_SEQ` bigint(20) NOT NULL AUTO_INCREMENT,
  `STIPULATION_TYPE` varchar(3) NOT NULL,
  `TITLE` varchar(20) NOT NULL,
  `CONTENTS` text NOT NULL,
  `REG_ADMIN_SEQ` bigint(20) NOT NULL,
  `REG_TIME` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`STIPULATION_SEQ`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

LOCK TABLES `STIPULATION` WRITE;
UNLOCK TABLES;