<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ahope.ds.cl.mdm_agent">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- [END gcm_permission] -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- [START bluetooth_permission] -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- [END bluetooth_permission] -->
    <uses-feature android:name="android.hardware.camera2.full"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!--knox-->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_BLUETOOTH"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ENTERPRISE_DEVICE_ADMIN"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_WIFI"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_LOCATION"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_ROAMING"/>

    <!--LG-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <!--NFC-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" />

    <permission
        android:name="com.example.supportlibclient.SUPPORT_PERMISSION"
        android:label="Support permission"
        android:protectionLevel="signature" />
    <permission android:name="${applicationId}.permission.QUERY_ALL_PACKAGES"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <!-- Permissions TODO List permissions used by application -->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_APP_MGMT" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_RESTRICTION_MGMT" />
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_NDA_PERIPHERAL_RT" />
    <uses-permission android:name="com.example.supportlibclient.SUPPORT_PERMISSION" />

    <!-- Usim Chainged -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>

    <!-- Boot Servic -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <meta-data android:name="com.samsung.knoxlicense.permissions" android:value="true"/>
        <meta-data
            android:name="com.samsung.android.multiuser.install_only_owner"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.multiuser.disallowed_managed_profile"
            android:value="true" />

        <uses-library
            android:name="com.lge.mdm"
            android:required="false">
        </uses-library>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.Svc">
            <intent-filter>
                <action android:name="com.ahope.ds.cl.mdm_agent.ISvc"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".module.receiver.AdminReceiver"
            android:description="@string/ds_device_admin_description"
            android:label="@string/ds_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/ds_device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
            </intent-filter>
        </receiver>

        <!-- Activate License TODO Provide receiver for Knox license activation results -->
        <receiver android:name=".module.receiver.LicenseReceiver" >
            <intent-filter>
                <action android:name="com.samsung.android.knox.intent.action.KNOX_LICENSE_STATUS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".module.receiver.PackageInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- 전원 종료리시버 -->
<!--        <receiver-->
<!--            android:name=".module.receiver.BootReceiver"-->
<!--            android:enabled="true">-->
<!--            <intent-filter >-->
<!--                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <receiver
            android:name=".module.receiver.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="STARTReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- 접근성 관련 서비스 부분 -->
        <service
            android:name=".service.AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
